@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Xplug Admission University Manager Landing Page</h1><br />
    <a asp-action="Instruction" asp-controller="" class="btn btn-primary btn-lg">
        <i class="fas fa-info-circle"></i> Form Instructions
    </a>


   
</div>
