@model RegistrationVM
@{
    ViewData["Title"] = "Application Summary";
    Layout = "~/Views/Shared/Layouts/_SummaryLayout.cshtml";

    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error) && error.Length > 2;

    var stage = (int)RegStage.DocUploads;
     //var rType = (int)Model.RegType;
}

@if (hasError)
{
    <div class="alert alert-danger">@Html.Raw(error)</div>
}
else
{
    @await Html.PartialAsync("_BioDataView", Model.BioData)
    @await Html.PartialAsync("_ContactView", Model.Contact)
    @await Html.PartialAsync("_NokInfoView", Model.NokInfo)
    @await Html.PartialAsync("_MedicalsView", Model.Medicals)
    @await Html.PartialAsync("_OlevelsView", Model.Olevels)
    @await Html.PartialAsync("_LibraryView", Model.Library)
    @await Html.PartialAsync("_CourseRegView", Model.CourseReg)
    @await Html.PartialAsync("_DocUploadsView", Model.DocUploads)
    @* @await Html.PartialAsync("_Submit", Model.Submission) *@
    <div class="form-footer d-flex justify-content-between mt-3">
        <button type="button" class="btn btn-reg" id="btnRegPrev">Previous</button>
        <button type="submit" id="btnRegSubmit" class="btn btn-reg">Submit</button>
    </div>
}/register/wizard?stage=1


@section Scripts {
    <script>
        $(function () {
            $("#btnRegPrev").on("click", function () {
                const redUrl = "/wizard?stage=" + parseInt('@stage');

                window.location.href = redUrl;
            })

            $("#btnRegSubmit").on("click", function () {
                const msg = "You are about to submit your application! You would not be able to edit any part of the application after submission. Are you sure?";
                return ConfirmMessage(msg, doSumitApp);
            })
        });

        function doSumitApp() {
            const redUrl = "/register/app-submission";
            window.location.href = redUrl;
        }
    </script>
}