@model LocalAreaVCM
<select class="form-select form-select-lg form-set" asp-for="LocalAreaId" style="width:100%" data-parsley-required-message="Kindly Select Local Area" required>
    @if (Model.ItemList == null || !Model.ItemList.Any())
    {
        <option value="">-- Empty List --</option>
    }
    else
    {
        <option value="">-- Please Select --</option>
        @foreach (var item in Model.ItemList)
        {
            if (Model.LocalAreaId == item.Id)
            {
                <option value="@item.Id" selected="selected">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }

        }
    }
</select>